:root{
  --lightBlue: #A2FFF4;
}


body{
  background-color: #001119;
  color: #A2FFF4;
}

main{
  padding-top: 50px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color: #A2FFF4;
  border: 0;
  display: inline-block;
  width: 75px ;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

button.with-text{
  width: auto;
  background-color: #003964;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1.2rem;
  line-height: 36px;
  margin-right: 0;
  margin-left: 0;
}

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 10px;
}

button:hover{
  background-color: #001D2B;
  border-radius: 15px;
}

.comment{
  font-size: 12pt;
}

.comment a{
  color: #A2FFF4;
}